body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
  font-weight: bold;
}

.top-container {
  background-color: #072227;

  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0;
}
.bottom-container {
  background-color: #072227;
  padding: 50px;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625em;
  color: aquamarine;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;

  color: #66bfbf;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.red-chillies {
  width: 20%;
  float: right;
  padding-left: 30px;
  border-radius: 100%;
}
.code-img {
  width: 20%;
  float: left;
  padding-right: 30px;
  border-radius: 100%;
}

.personal-info {
  width: 50%;
  text-align: center;
  margin: auto;
}
.profile-image {
  border-radius: 100%;
}

hr {
  color: #bdbdbd;
  border-style: dotted none none;
  width: 5%;

  border-width: 8px;
}

.contact-me {
  padding-bottom: 100px;
}
#contact-me {
  background-color: #11999e;
  border-radius: 10px;
  color: white;
  height: 50px;
  width: 180px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

#contact-me:hover {
  background-color: black;
  cursor: pointer;
}

.copyright-content {
  color: #eaf6f6;
  margin-top: 30px;
}

.footer-link {
  padding: 20px;
  font-size: 20px;
  color: aquamarine;
  text-decoration: none;
}
